* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {;
    display: grid;
    place-items: center;
    min-height: 100hv;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: rgb(71, 78, 177);
    border: none;
    display: inline-block;
    padding: .5rem 1rem;
    margin: .3rem;
    font-size: 1.3rem;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: .5rem;

}

.delete {
    width: 7rem;
}

.shift {
    width: 5rem;
} 

.space {
    width: 100%;
}

.textarea {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: -5rem;
    font-size: 1.rem;
    outline: none;
    border: 2px solid rgb(71, 78, 177);
    border-radius: .5rem;
}

.upper {
    text-transform: uppercase;
}